// forms

form,
fieldset {
	margin: 0;
	padding: 0;
	border-style: none;
}

input[type='text'],
input[type='tel'],
input[type='email'],
input[type='search'],
input[type='password'],
//input[type='url'],
// input[type='date'],
textarea {
	background: $form-element-background;
	border: 0;
	border-radius: 5px;
	box-shadow: none;
	box-sizing: border-box;
	color: $placeholder-color;
	display: block;
	font-size: $placeholder-font-size;
	line-height: $placeholder-line-height;
	height: $form-element-height;
	margin: 0;
	outline: none;
	padding: $form-element-padding;
	width: 100%;
	-webkit-appearance: none;
	// -webkit-border-radius: 0;
	@include placeholder {
		color: $placeholder-color;
	}
}

select {
	-webkit-border-radius: 0;
	
	.hideme {
		display: none;
	}
}

textarea {
	resize: vertical;
	vertical-align: top;
	height: 150px;
	min-height: 120px;
}

button,
input[type='button'],
input[type='reset'],
input[type='file'],
input[type='submit'] {
	-webkit-appearance: none;
	-webkit-border-radius: 0;
	cursor: pointer;
}

