html,
body{
	height:100%;
}

#wrapper{
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-content: stretch;
	align-items: stretch;
	max-width: 1400px;
	min-height: 100%;
	overflow:hidden;
}

#main{
	padding:0 0 83px;
}

section,
footer{
	.container{
		margin:0 auto;
		max-width: 1200px;
		padding:0 10px;
	}
}

.section-top-offers{
	padding:27px 0 30px;
	.container{
		display: flex;
	    flex-direction: row;
	    flex-wrap: nowrap;
	    justify-content: flex-start;
	    align-content: flex-start;
	    align-items: flex-start;
	    > div{
	    	&:last-child {
	    		flex:1 1 auto;
	    		padding:0 0 0 20px;
	    	}
	    }
	}
}

.section-recent{
	padding:11px 0;
	.heading{
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: flex-start;
		align-content: center;
		align-items: center;
		margin:0 0 23px;
		h2{
			margin:0 10px 0 0;
		}
		.link-view-more{
			color:$base-text-color;
			display:inline-block;
			vertical-align:top;
			font-size:14px;
			font-weight:bold;
			line-height:1.1429;
			margin:0 0 0 40px;
			padding:0 21px 0 0;
			position:relative;
			&:hover {
				color:$base-link-color;
			}
			&:before {
				color:$base-link-color;
				font-size: 16px;
				margin:1px 0 0;
				position:absolute;
				right:0;
				top:50%;
				transform:translateY(-50%);
			}
			&:after {
				background:$theme-color-add;
				content: '';
				height:30px;
				left:-22px;
				position:absolute;
				top:50%;
				transform:translateY(-50%);
				width:2px;
			}
		}
	}
	.logos-slider{
		margin:48px 0 27px;
	}
	.list{
		display: flex;
	    flex-direction: row;
	    flex-wrap: wrap;
	    justify-content: flex-start;
	    align-content: flex-start;
	    align-items: flex-start;
		margin:0 -10px;
		padding:3px 0 0;
		li{
			padding:0 10px;
			width:33.3333%;
			&:before {
				display:none;
			}
		}
	}
}

.section-banner{
	text-align:center;
}