#footer{
	margin-top: auto;
}

.footer-content{
	background:#4a4a4a;
	color:$white;
	font-size:14px;
	line-height:2.1429;
	padding:25px 0 23px;
	.container{
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: space-between;
		align-content: flex-start;
		align-items: flex-start;
		> div{
			&:first-child {
				min-width: 385px;
			}
			&:last-child {
				display: flex;
			    flex-direction: row;
			    flex-wrap: nowrap;
			    justify-content: space-between;
			    align-content: flex-start;
			    align-items: flex-start;
			    min-width: 700px;
			    > *{
			    	width:31.3333%;
			    }
			}
		}
	}
	a{
		color:inherit;
		&:hover {
			color:$theme-color-add;
		}
	}
	h3{
		margin:0 0 5px;
	}
	form{
		margin:0 0 27px;
		h3{
			margin:0 0 30px;
		}
		.form-content{
			display: flex;
		    flex-direction: row;
		    flex-wrap: nowrap;
		    justify-content: flex-start;
		    align-content: flex-start;
		    align-items: flex-start;
		}
		.form-element{
			flex:1 1 auto;
		}
		input[type=text]{
			background:$white;
			border-radius: 0;
			padding-left: 19px;
		}
		.submit-holder{
			min-width: 140px;
		}
		input[type=submit]{
			background:$theme-color-add;
			border:0;
			color:$base-text-color;
			float:left;
			font-size:18px;
			font-weight:bold;
			height:50px;
			line-height:50px;
			margin:0;
			padding:0;
			transition:background $animation-speed, color $animation-speed;
			width:100%;
			&:hover {
				background:$theme-color-base;
				color:$white;
			}
		}
	}
	.social-networks{
		display: flex;
	    flex-direction: row;
	    flex-wrap: nowrap;
	    justify-content: flex-start;
	    align-content: center;
	    align-items: center;
	    font-size:30px;
	    line-height:1;
	    padding:24px 0 0;
	    li{
	    	padding:0 35px 0 0;
	    	&:before {
	    		display:none;
	    	}
	    }
	}
	.contacts-list{
		li{
			padding:0 0 0 27px;
			&:before {
				background:none;
				color:$theme-color-add;
				left:2px;
				height:auto;
				top:12px;
				width:auto;
			}
		}
	}
}

.footer-nav{
	li{
		padding:0;
		&:before {
			display:none;
		}
	}
}

.footer-bottom{
	background:$white;
	line-height:1.1429;
	padding:13px 0;
	.container{
		display: flex;
	    flex-direction: row;
	    flex-wrap: nowrap;
	    justify-content: space-between;
	    align-content: center;
	    align-items: center;
	    > div{
	    	width:33.3333%;
	    	&:nth-child(2) {
	    		text-align:center;
	    	}
	    	&:last-child {
	    		text-align:right;
	    	}
	    }
	}
	p{
		margin:0;
	}
	a{
		color:inherit;
		&:hover {
			color:$base-link-color;
		}
	}
}