extends pug/extends/master

block content
	main#main
		section.section-breadcrumbs
			.container
				ul
					li
						a(href="#") Onmark.az
					li
						a(href="#") Category
					li Category page
		section.section-category
			.container
				.content
					ul.subcategory-list
						li
							a(href="#").subcategory-tile
								span.image-holder
									img(src="images/img11.jpg", alt="Image description", width="62", height="95")
								strong.title Men’s sweaters
						li
							a(href="#").subcategory-tile
								span.image-holder
									img(src="images/img12.jpg", alt="Image description", width="78", height="95")
								strong.title Men’s sportswear
						li
							a(href="#").subcategory-tile
								span.image-holder
									img(src="images/img13.jpg", alt="Image description", width="109", height="95")
								strong.title T-shirts for men
						li
							a(href="#").subcategory-tile
								span.image-holder
									img(src="images/img14.jpg", alt="Image description", width="109", height="95")
								strong.title Men’s jeans
						li
							a(href="#").subcategory-tile
								span.image-holder
									img(src="images/img15.jpg", alt="Image description", width="60", height="95")
								strong.title Men’s suites
						li
							a(href="#").subcategory-tile
								span.image-holder
									img(src="images/img14.jpg", alt="Image description", width="109", height="95")
								strong.title Men’s jeans
						li
							a(href="#").subcategory-tile
								span.image-holder
									img(src="images/img11.jpg", alt="Image description", width="62", height="95")
								strong.title Men’s sweaters
						li
							a(href="#").subcategory-tile
								span.image-holder
									img(src="images/img12.jpg", alt="Image description", width="78", height="95")
								strong.title Men’s sportswear
					.section-heading
						h2 Best sellers
						a(href="#").link-view-more.fas.fa-long-arrow-alt-right View all
					ul.grid
						li
							.product-box
								.media-holder
									img(src="images/img04.jpg", alt="Image description", width="194", height="128")
								.txt
									.rating.four
										.fas.fa-star
										.fas.fa-star
										.fas.fa-star
										.fas.fa-star
										.fas.fa-star
									strong.title
										a(href="#") Women's casual sneaker U.S. Polo Assn 116
								.footer
									div
										span.price.icon-manat 786
									div
										ul.action-list
											li
												a(href="#").icon-heart-o
											li.active
												a(href="#").icon-basket-add
						li
							.product-box
								.media-holder
									img(src="images/img05.jpg", alt="Image description", width="150", height="150")
								.txt
									.rating.four
										.fas.fa-star
										.fas.fa-star
										.fas.fa-star
										.fas.fa-star
										.fas.fa-star
									strong.title
										a(href="#") Women's casual sneaker U.S. Polo Assn 116
								.footer
									div
										span.price.icon-manat 2210
									div
										ul.action-list
											li.active
												a(href="#").icon-heart-o
											li
												a(href="#").icon-basket-add
						li
							.product-box
								.media-holder
									img(src="images/img06.jpg", alt="Image description", width="174", height="174")
								.txt
									.rating.four
										.fas.fa-star
										.fas.fa-star
										.fas.fa-star
										.fas.fa-star
										.fas.fa-star
									strong.title
										a(href="#") Men's sweater Puma ESS Logo Crew Sweat FL
								.footer
									div
										span.price.icon-manat 49
									div
										ul.action-list
											li
												a(href="#").icon-heart-o
											li
												a(href="#").icon-basket-add
						li
							.product-box
								.media-holder
									img(src="images/img07.jpg", alt="Image description", width="176", height="155")
								.txt
									.rating.four
										.fas.fa-star
										.fas.fa-star
										.fas.fa-star
										.fas.fa-star
										.fas.fa-star
									strong.title
										a(href="#") Women's casual sneaker U.S. Polo Assn 116
								.footer
									div
										span.price.icon-manat 2210
									div
										ul.action-list
											li
												a(href="#").icon-heart-o
											li
												a(href="#").icon-basket-add
						li
							.product-box
								.media-holder
									img(src="images/img04.jpg", alt="Image description", width="194", height="128")
								.txt
									.rating.four
										.fas.fa-star
										.fas.fa-star
										.fas.fa-star
										.fas.fa-star
										.fas.fa-star
									strong.title
										a(href="#") Women's casual sneaker U.S. Polo Assn 116
								.footer
									div
										span.price.icon-manat 786
									div
										ul.action-list
											li
												a(href="#").icon-heart-o
											li.active
												a(href="#").icon-basket-add
						li
							.product-box
								.media-holder
									img(src="images/img05.jpg", alt="Image description", width="150", height="150")
								.txt
									.rating.four
										.fas.fa-star
										.fas.fa-star
										.fas.fa-star
										.fas.fa-star
										.fas.fa-star
									strong.title
										a(href="#") Women's casual sneaker U.S. Polo Assn 116
								.footer
									div
										span.price.icon-manat 2210
									div
										ul.action-list
											li.active
												a(href="#").icon-heart-o
											li
												a(href="#").icon-basket-add
						li
							.product-box
								.media-holder
									img(src="images/img06.jpg", alt="Image description", width="174", height="174")
								.txt
									.rating.four
										.fas.fa-star
										.fas.fa-star
										.fas.fa-star
										.fas.fa-star
										.fas.fa-star
									strong.title
										a(href="#") Men's sweater Puma ESS Logo Crew Sweat FL
								.footer
									div
										span.price.icon-manat 49
									div
										ul.action-list
											li
												a(href="#").icon-heart-o
											li
												a(href="#").icon-basket-add
						li
							.product-box
								.media-holder
									img(src="images/img07.jpg", alt="Image description", width="176", height="155")
								.txt
									.rating.four
										.fas.fa-star
										.fas.fa-star
										.fas.fa-star
										.fas.fa-star
										.fas.fa-star
									strong.title
										a(href="#") Women's casual sneaker U.S. Polo Assn 116
								.footer
									div
										span.price.icon-manat 2210
									div
										ul.action-list
											li
												a(href="#").icon-heart-o
											li
												a(href="#").icon-basket-add
					.section-heading
						h2 New products
						a(href="#").link-view-more.fas.fa-long-arrow-alt-right View all
					ul.grid
						li
							.product-box
								.media-holder
									img(src="images/img04.jpg", alt="Image description", width="194", height="128")
								.txt
									.rating.four
										.fas.fa-star
										.fas.fa-star
										.fas.fa-star
										.fas.fa-star
										.fas.fa-star
									strong.title
										a(href="#") Women's casual sneaker U.S. Polo Assn 116
								.footer
									div
										span.price.icon-manat 786
									div
										ul.action-list
											li
												a(href="#").icon-heart-o
											li.active
												a(href="#").icon-basket-add
						li
							.product-box
								.media-holder
									img(src="images/img05.jpg", alt="Image description", width="150", height="150")
								.txt
									.rating.four
										.fas.fa-star
										.fas.fa-star
										.fas.fa-star
										.fas.fa-star
										.fas.fa-star
									strong.title
										a(href="#") Women's casual sneaker U.S. Polo Assn 116
								.footer
									div
										span.price.icon-manat 2210
									div
										ul.action-list
											li.active
												a(href="#").icon-heart-o
											li
												a(href="#").icon-basket-add
						li
							.product-box
								.media-holder
									img(src="images/img06.jpg", alt="Image description", width="174", height="174")
								.txt
									.rating.four
										.fas.fa-star
										.fas.fa-star
										.fas.fa-star
										.fas.fa-star
										.fas.fa-star
									strong.title
										a(href="#") Men's sweater Puma ESS Logo Crew Sweat FL
								.footer
									div
										span.price.icon-manat 49
									div
										ul.action-list
											li
												a(href="#").icon-heart-o
											li
												a(href="#").icon-basket-add
						li
							.product-box
								.media-holder
									img(src="images/img07.jpg", alt="Image description", width="176", height="155")
								.txt
									.rating.four
										.fas.fa-star
										.fas.fa-star
										.fas.fa-star
										.fas.fa-star
										.fas.fa-star
									strong.title
										a(href="#") Women's casual sneaker U.S. Polo Assn 116
								.footer
									div
										span.price.icon-manat 2210
									div
										ul.action-list
											li
												a(href="#").icon-heart-o
											li
												a(href="#").icon-basket-add
						li
							.product-box
								.media-holder
									img(src="images/img04.jpg", alt="Image description", width="194", height="128")
								.txt
									.rating.four
										.fas.fa-star
										.fas.fa-star
										.fas.fa-star
										.fas.fa-star
										.fas.fa-star
									strong.title
										a(href="#") Women's casual sneaker U.S. Polo Assn 116
								.footer
									div
										span.price.icon-manat 786
									div
										ul.action-list
											li
												a(href="#").icon-heart-o
											li.active
												a(href="#").icon-basket-add
						li
							.product-box
								.media-holder
									img(src="images/img05.jpg", alt="Image description", width="150", height="150")
								.txt
									.rating.four
										.fas.fa-star
										.fas.fa-star
										.fas.fa-star
										.fas.fa-star
										.fas.fa-star
									strong.title
										a(href="#") Women's casual sneaker U.S. Polo Assn 116
								.footer
									div
										span.price.icon-manat 2210
									div
										ul.action-list
											li.active
												a(href="#").icon-heart-o
											li
												a(href="#").icon-basket-add
						li
							.product-box
								.media-holder
									img(src="images/img06.jpg", alt="Image description", width="174", height="174")
								.txt
									.rating.four
										.fas.fa-star
										.fas.fa-star
										.fas.fa-star
										.fas.fa-star
										.fas.fa-star
									strong.title
										a(href="#") Men's sweater Puma ESS Logo Crew Sweat FL
								.footer
									div
										span.price.icon-manat 49
									div
										ul.action-list
											li
												a(href="#").icon-heart-o
											li
												a(href="#").icon-basket-add
						li
							.product-box
								.media-holder
									img(src="images/img07.jpg", alt="Image description", width="176", height="155")
								.txt
									.rating.four
										.fas.fa-star
										.fas.fa-star
										.fas.fa-star
										.fas.fa-star
										.fas.fa-star
									strong.title
										a(href="#") Women's casual sneaker U.S. Polo Assn 116
								.footer
									div
										span.price.icon-manat 2210
									div
										ul.action-list
											li
												a(href="#").icon-heart-o
											li
												a(href="#").icon-basket-add
					h3 OnMark - saving your money and time!
					p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laboruma.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
				.aside
					h2 Men’s wear
					.widget
						form(action="#").form-items-filter
							.heading
								strong.title Selected filters
								a(href="#").remove-filters Delet all
							div
								ul.current-filters
									li
										a(href="#") Lorem ipsum
									li
										a(href="#") Lorem
									li
										a(href="#") Lorem
									li
										a(href="#") Lorem ipsum
							div
								.open-close
									a(href="#").opener Filter Sample
									.slide
										ul
											li
												label(for="")
													input(type="radio")
													| Filter name
											li
												label(for="")
													input(type="radio")
													| Filter name
											li
												label(for="")
													input(type="radio")
													| Filter name
											li
												label(for="")
													input(type="radio")
													| Filter name
							div
								.open-close
									a(href="#").opener Price
									.slide
										| 120-8980 azn
										input(type="range")
							div
								.open-close
									a(href="#").opener Filter Sample
									.slide
										.form-element
											input(type="text")
											label Type your text
										ul
											li
												label(for="")
													input(type="radio")
													| Filter name
											li
												label(for="")
													input(type="radio")
													| Filter name
											li
												label(for="")
													input(type="radio")
													| Filter name
											li
												label(for="")
													input(type="radio")
													| Filter name
											li
												label(for="")
													input(type="radio")
													| Filter name
											li
												label(for="")
													input(type="radio")
													| Filter name
											li
												label(for="")
													input(type="radio")
													| Filter name
											li
												label(for="")
													input(type="radio")
													| Filter name
											li
												label(for="")
													input(type="radio")
													| Filter name
											li
												label(for="")
													input(type="radio")
													| Filter name
											li
												label(for="")
													input(type="radio")
													| Filter name
											li
												label(for="")
													input(type="radio")
													| Filter name
							div
								.open-close
									a(href="#").opener Color
									.slide
										ul.colors-list
											li
												a(href="#", style="background:#db0202")
											li
												a(href="#", style="background:#e58000")
											li
												a(href="#", style="background:#e9e34c")
											li
												a(href="#", style="background:#007d36")
											li
												a(href="#", style="background:#90ab50")
											li
												a(href="#", style="background:#b4d6b8")
											li
												a(href="#", style="background:#ffffff")
											li
												a(href="#", style="background:#4a4a4a")
											li
												a(href="#", style="background:#b85fc0")
											li
												a(href="#", style="background:#0086f1")
											li
												a(href="#", style="background:#db0202")
											li
												a(href="#", style="background:#e58000")
											li
												a(href="#", style="background:#e9e34c")
											li
												a(href="#", style="background:#007d36")
											li
												a(href="#", style="background:#90ab50")
											li
												a(href="#", style="background:#b4d6b8")
											li
												a(href="#", style="background:#ffffff")
											li
												a(href="#", style="background:#4a4a4a")
											li
												a(href="#", style="background:#b85fc0")
											li
												a(href="#", style="background:#0086f1")
											li
												a(href="#", style="background:#db0202")
											li
												a(href="#", style="background:#e58000")
											li
												a(href="#", style="background:#e9e34c")
											li
												a(href="#", style="background:#007d36")
											li
												a(href="#", style="background:#90ab50")
											li
												a(href="#", style="background:#b4d6b8")
											li
												a(href="#", style="background:#ffffff")
											li
												a(href="#", style="background:#4a4a4a")
											li
												a(href="#", style="background:#b85fc0")
											li
												a(href="#", style="background:#0086f1")
											li
												a(href="#", style="background:#db0202")
											li
												a(href="#", style="background:#e58000")
											li
												a(href="#", style="background:#e9e34c")
											li
												a(href="#", style="background:#007d36")
											li
												a(href="#", style="background:#90ab50")
											li
												a(href="#", style="background:#b4d6b8")
											li
												a(href="#", style="background:#ffffff")
											li
												a(href="#", style="background:#4a4a4a")
											li
												a(href="#", style="background:#b85fc0")
											li
												a(href="#", style="background:#0086f1")