extends pug/extends/master

block content
	p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos, perspiciatis.
	.content
		.content-holder
			| ;ldgf;adhfg;k hj
		.content-frame
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem nulla fugiat adipisci aliquid quasi, distinctio. Ex possimus tenetur at vero!
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem nulla fugiat adipisci aliquid quasi, distinctio. Ex possimus tenetur at vero!