extends pug/extends/master

block content
	main#main
		section.section-
			.container
				div
					| 1
				div
					| 2
		section.section-recent
			.container
				.heading
					h2 New products
					a(href="#") View all
				ul
					li
						.product-box
							.media-holder
								img(src="images/", alt="Image description", width="", height="")
							.rating
								| star
								| star
								| star
								| star
								| star-h
							strong.title
								a(href="#") Women's casual sneaker U.S. Polo Assn 116 casual sneaker
							.footer
								div
									span.price 55 azn
								div
									ul.action-list
										li
											a(href="#") like
										li
											a(href="#") buy
					li
						.product-box
							.media-holder
								img(src="images/", alt="Image description", width="", height="")
							.rating
								| star
								| star
								| star
								| star
								| star-h
							strong.title
								a(href="#") Women's casual sneaker U.S. Polo Assn 116
							.footer
								div
									span.price 786 azn
								div
									ul.action-list
										li
											a(href="#") like
										li
											a(href="#") buy
					li
						.product-box
							.media-holder
								img(src="images/", alt="Image description", width="", height="")
							.rating
								| star
								| star
								| star
								| star
								| star-h
							strong.title
								a(href="#") Women's casual sneaker U.S. Polo Assn 116
							.footer
								div
									span.price 2210 azn
								div
									ul.action-list
										li
											a(href="#") like
										li
											a(href="#") buy
					li
						.product-box
							.media-holder
								img(src="images/", alt="Image description", width="", height="")
							.rating
								| star
								| star
								| star
								| star
								| star-h
							strong.title
								a(href="#") Men's sweater Puma ESS Logo Crew Sweat FL
							.footer
								div
									span.price 49 azn
								div
									ul.action-list
										li
											a(href="#") like
										li
											a(href="#") buy
					li
						.product-box
							.media-holder
								img(src="images/", alt="Image description", width="", height="")
							.rating
								| star
								| star
								| star
								| star
								| star-h
							strong.title
								a(href="#") Women's casual sneaker U.S. Polo Assn 116
							.footer
								div
									span.price 2210 azn
								div
									ul.action-list
										li
											a(href="#") like
										li
											a(href="#") buy
		section.section-recent
			.container
				.heading
					h2 Fresh deals
					a(href="#") View all
				ul
					li
						.product-box.sale
							.discount -13%
							.media-holder
								img(src="images/", alt="Image description", width="", height="")
							.rating
								| star
								| star
								| star
								| star
								| star-h
							strong.title
								a(href="#") Women's casual sneaker U.S. Polo Assn 116
							.footer
								div
									span.price.old 27 anz
										span.discount -28
									span.price 55 azn
								div
									ul.action-list
										li
											a(href="#") like
										li
											a(href="#") buy
					li
						.product-box
							.discount -13%
							.media-holder
								img(src="images/", alt="Image description", width="", height="")
							.rating
								| star
								| star
								| star
								| star
								| star-h
							strong.title
								a(href="#") Women's casual sneaker U.S. Polo Assn 116
							.footer
								div
									span.price.old 2700 anz
										span.discount -490
									span.price 2210 azn
								div
									ul.action-list
										li
											a(href="#") like
										li
											a(href="#") buy
					li
						.product-box
							.discount -13%
							.media-holder
								img(src="images/", alt="Image description", width="", height="")
							.rating
								| star
								| star
								| star
								| star
								| star-h
							strong.title
								a(href="#") Women's casual sneaker U.S. Polo Assn 116
							.footer
								div
									span.price.old 1900 anz
										span.discount -490
									span.price 4210 azn
								div
									ul.action-list
										li
											a(href="#") like
										li
											a(href="#") buy
					li
						.product-box
							.discount -13%
							.media-holder
								img(src="images/", alt="Image description", width="", height="")
							.rating
								| star
								| star
								| star
								| star
								| star-h
							strong.title
								a(href="#") Men's sweater Puma ESS Logo Crew Sweat FL
							.footer
								div
									span.price.old 1900 anz
										span.discount -490
									span.price 2145 azn
								div
									ul.action-list
										li
											a(href="#") like
										li
											a(href="#") buy
					li
						.product-box
							.discount -13%
							.media-holder
								img(src="images/", alt="Image description", width="", height="")
							.rating
								| star
								| star
								| star
								| star
								| star-h
							strong.title
								a(href="#") Women's casual sneaker U.S. Polo Assn 116
							.footer
								div
									span.price.old 27 anz
										span.discount -28
									span.price 55 azn
								div
									ul.action-list
										li
											a(href="#") like
										li
											a(href="#") buy
		section.section-recent
			.container
				.heading
					h2 Top products
					a(href="#") View all
				ul
					li
						.product-box
							.media-holder
								img(src="images/", alt="Image description", width="", height="")
							.rating
								| star
								| star
								| star
								| star
								| star-h
							strong.title
								a(href="#") Women's casual sneaker U.S. Polo Assn 116 casual sneaker
							.footer
								div
									span.price 55 azn
								div
									ul.action-list
										li
											a(href="#") like
										li
											a(href="#") buy
					li
						.product-box
							.media-holder
								img(src="images/", alt="Image description", width="", height="")
							.rating
								| star
								| star
								| star
								| star
								| star-h
							strong.title
								a(href="#") Women's casual sneaker U.S. Polo Assn 116
							.footer
								div
									span.price 786 azn
								div
									ul.action-list
										li
											a(href="#") like
										li
											a(href="#") buy
					li
						.product-box
							.media-holder
								img(src="images/", alt="Image description", width="", height="")
							.rating
								| star
								| star
								| star
								| star
								| star-h
							strong.title
								a(href="#") Women's casual sneaker U.S. Polo Assn 116
							.footer
								div
									span.price 2210 azn
								div
									ul.action-list
										li
											a(href="#") like
										li
											a(href="#") buy
					li
						.product-box
							.media-holder
								img(src="images/", alt="Image description", width="", height="")
							.rating
								| star
								| star
								| star
								| star
								| star-h
							strong.title
								a(href="#") Men's sweater Puma ESS Logo Crew Sweat FL
							.footer
								div
									span.price 49 azn
								div
									ul.action-list
										li
											a(href="#") like
										li
											a(href="#") buy
					li
						.product-box
							.media-holder
								img(src="images/", alt="Image description", width="", height="")
							.rating
								| star
								| star
								| star
								| star
								| star-h
							strong.title
								a(href="#") Women's casual sneaker U.S. Polo Assn 116
							.footer
								div
									span.price 2210 azn
								div
									ul.action-list
										li
											a(href="#") like
										li
											a(href="#") buy
		section.section-banner
			img(src="images/", alt="Image description", width="", height="")
		section.section-recent
			.container
				.heading
					h2 Bestsellers
					a(href="#") View all
				ul
					li
						a(href="#")
							img(src="images/", alt="Image description", width="", height="")
					li
						a(href="#")
							img(src="images/", alt="Image description", width="", height="")
					li
						a(href="#")
							img(src="images/", alt="Image description", width="", height="")
					li
						a(href="#")
							img(src="images/", alt="Image description", width="", height="")
					li
						a(href="#")
							img(src="images/", alt="Image description", width="", height="")
					li
						a(href="#")
							img(src="images/", alt="Image description", width="", height="")
					li
						a(href="#")
							img(src="images/", alt="Image description", width="", height="")
					li
						a(href="#")
							img(src="images/", alt="Image description", width="", height="")
		section.section-recent
			.container
				.heading
					h2 Blog
					a(href="#") View all
				ul
					li
						.blog-tile
							.media-holder
								img(src="images/", alt="Image description", width="", height="")
								time(datetime="2019-03-9") 9 march 2019
							.txt
								h3
									a(href="#") A New-Way to E-Commerce with shopping apps now see
					li
						.blog-tile
							.media-holder
								img(src="images/", alt="Image description", width="", height="")
								time(datetime="2019-03-9") 9 march 2019
							.txt
								h3
									a(href="#") The 9th Annual European E-Commerce Conference. The Report
					li
						.blog-tile
							.media-holder
								img(src="images/", alt="Image description", width="", height="")
								time(datetime="2019-03-9") 9 march 2019
							.txt
								h3
									a(href="#") Retailers with shopping apps now see majority of e-commerce sales from mobile