extends pug/extends/master

block content
	main#main
		section.section-breadcrumbs
			.container
				ul
					li
						a(href="#") Onmark.az
					li
						a(href="#") Category
					li Category page
		section.section-product
			.container
				h1 Apple iPhone 6S Plus 32 GB
				.content
					.product-summary
						div
							.product-slider
								.slider-for
									div
										img(src="images/img16.jpg", alt="Image description", width="395", height="403")
									div
										img(src="images/img18.jpg", alt="Image description", width="395", height="403")
									div
										img(src="images/img19.jpg", alt="Image description", width="395", height="403")
								.slider-nav
									div
										img(src="images/img17.jpg", alt="Image description", width="59", height="60")
									div
										img(src="images/img18.jpg", alt="Image description", width="59", height="60")
									div
										img(src="images/img19.jpg", alt="Image description", width="59", height="60")
						div
							.product-color-selection
								strong.title Color of the product:
									a(href="#").current Black
								ul
									li
										label
											input(type="checkbox", checked)
											img(src="images/img20.jpg", alt="Image description", width="39", height="39")
									li
										label
											input(type="checkbox")
											img(src="images/img20.jpg", alt="Image description", width="39", height="39")
									li
										label
											input(type="checkbox")
											img(src="images/img20.jpg", alt="Image description", width="39", height="39")
									li
										label
											input(type="checkbox")
											img(src="images/img20.jpg", alt="Image description", width="39", height="39")
							h2 About product
							ul
								li sed quia consequuntur
								li magni dolores eos qui ratione
								li voluptatem sequi nesciunt.
								li sed quia consequuntur
								li magni dolores eos qui ratione
								li voluptatem sequi nesciunt.
							ul.anchors-list
								li
									a(href="#") All specitifications
								li
									a(href="#") Ask a question about iPhone 6s 32gb Black
								li
									a(href="#") All Apple products
						div
							.product-price-box
								.top
									div
										strong.title low price
										span.recalculated-price
											span.price.old.icon-manat 1430
											span.new - 23%
										span.price.icon-manat 1230
										span.delivery-price + 
											span.price.icon-manat 8 
											| delivery,
											mark today
									div
										strong.title Quantity
										input(type="number", value="1", min="1", max="10")
								.rating.three.yellow
									.fas.fa-star
									.fas.fa-star
									.fas.fa-star
									.fas.fa-star
									.fas.fa-star
								a(href="#").comments-counter ( 23 comments )
								.store-logo
									a(href="#")
										img(src="images/logo-west-telecom-2.png", alt="Image description", width="170", height="37")
								.footer
									.submit-button
										input(type="submit", value="Add to basket")
									a(href="#").add-to-favourite.icon-heart-o
				.tabs-holder
					ul.tabs
						li
							a(href="#") Price offers
								span.count 25
						li
							a(href="#") Specifications
								span.count 13
						li
							a(href="#") Reviews
								span.count 213
					.tab-content
						.tab
							h2 Prices for Apple iPhone 6S Plus 32 GB in Baku
							.sort-box
								strong.title Sort
								ul
									li.active
										a(href="#") Cheaper
									li
										a(href="#") Cargo shipping
									li
										a(href="#") Seller bonus
							table
								tr
									td
										| West telekom
									td
										a(href="#")
											img(src="images/logo-west-telecom.png", alt="Image description", width="130", height="31")
									td
										| 4 days
										br
										| +4.99 AZN delivery
									td
										span.price.icon-manat 1320
									td
										a(href="#").btn.btn-primary Buy now
										a(href="#").btn.btn-primary.outline Go to seller
								tr
									td
										| Irshad Electronics
									td
										a(href="#")
											img(src="images/logo-irsad.png", alt="Image description", width="116", height="38")
									td
										| 4 days
										br
										| +4.99 AZN delivery
									td
										span.price.icon-manat 1315
									td
										a(href="#").btn.btn-primary Buy now
										a(href="#").btn.btn-primary.outline Go to seller
								tr
									td
										| Kontakt Home
									td
										a(href="#")
											img(src="images/logo-kontakt-home.png", alt="Image description", width="98", height="62")
									td
										| 4 days
										br
										| +4.99 AZN delivery
									td
										span.price.icon-manat 1332
									td
										a(href="#").btn.btn-primary Buy now
										a(href="#").btn.btn-primary.outline Go to seller
								tr
									td
										| Mobitel
									td
										a(href="#")
											img(src="images/logo-mobitel.png", alt="Image description", width="110", height="26")
									td
										| 4 days
										br
										| +4.99 AZN delivery
									td
										span.price.icon-manat 1322
									td
										a(href="#").btn.btn-primary Buy now
										a(href="#").btn.btn-primary.outline Go to seller
						.tab
							h2 Specifitations of Apple iPhone 6S Plus 32 GB
							h3 general
							table
								tr
									td
										| Release date 
									td
										| September 2018
								tr
									td
										| Dimensions (mm)
									td
										| 143.60 x 70.90 x 7.70
								tr
									td
										| Weight (g) 
									td
										| 177.00
								tr
									td
										| IP rating 
									td
										| IP68
								tr
									td
										| Removable battery 
									td
										| No
								tr
									td
										| Wireless charging
									td
										| Yes
								tr
									td
										| Colours
									td
										| Space Grey, Silver, Gold
							h3 display
							table
								tr
									td
										| Screen size (inches)
									td
										| S5.80
								tr
									td
										| Touchscreen
									td
										| No
								tr
									td
										| Resolution
									td
										| 1125x2436 pixels
								tr
									td
										| Protection type
									td
										| Yes
								tr
									td
										| Pixels per inch (PPI)
									td
										| 458
							h3 HARDWARE
							table
								tr
									td
										| Weight (g) 
									td
										| IP rating 
								tr
									td
										| Removable battery 
									td
										| Wireless charging
								tr
									td
										| 177.00
									td
										| IP68
								tr
									td
										| No
									td
										| Yes
							h3 CAMERA
							table
								tr
									td
										| Weight (g) 
									td
										| IP rating 
								tr
									td
										| Removable battery 
									td
										| Wireless charging
								tr
									td
										| 12-megapixel (f/1.8, 1.4-micron) + 12-megapixel (f/2.4)
									td
										| 7-megapixel (f/2.2)
								tr
									td
										| No
									td
										| Yes
						.tab
							h2 Comments
							ul.comments-list
								li
									div
										| Nariman Asadov
										br
										| 12 january 2015
									div
										p Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore 
									div
										.rating.four
											.fas.fa-star
											.fas.fa-star
											.fas.fa-star
											.fas.fa-star
											.fas.fa-star
								li
									div
										| Murad Ibrahimov
										br
										| 12 january 2015
									div
										p Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam
									div
										.rating.three
											.fas.fa-star
											.fas.fa-star
											.fas.fa-star
											.fas.fa-star
											.fas.fa-star
								li
									div
										| Kamran Seyyidov
										br
										| 12 january 2015
									div
										p Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore 
									div
										.rating.four
											.fas.fa-star
											.fas.fa-star
											.fas.fa-star
											.fas.fa-star
											.fas.fa-star