extends pug/extends/master

block content
	main#main
		section.section-breadcrumbs
			.container
				ul
					li
						a(href="#") Onmark.az
					li
						a(href="#") Category
					li Category page
		section.section-store
			.container
				h1 170,509 items found in this category
				.twocolumns
					.content
						.categories-view-box
							div
								ul
									li
										a(href="#").fas.fa-long-arrow-alt-up Sort by popularity
									li
										a(href="#").fas.fa-long-arrow-alt-up Sort by lates
									li
										a(href="#").fas.fa-long-arrow-alt-up Sort by rating
									li
										a(href="#").fas.fa-long-arrow-alt-up Sort by price
							div
								ul.view
									li
										a(href="#").icon-list
									li.active
										a(href="#").icon-grid
						ul.grid
							li
								.product-box
									.media-holder
										img(src="images/img04.jpg", alt="Image description", width="194", height="128")
									.txt
										.rating.four
											.fas.fa-star
											.fas.fa-star
											.fas.fa-star
											.fas.fa-star
											.fas.fa-star
										strong.title
											a(href="#") Women's casual sneaker U.S. Polo Assn 116
									.footer
										div
											span.price.icon-manat 786
										div
											ul.action-list.vertical
												li
													a(href="#").icon-heart-o
												li.active
													a(href="#").icon-basket-add
							li
								.product-box
									.media-holder
										img(src="images/img05.jpg", alt="Image description", width="150", height="150")
									.txt
										.rating.four
											.fas.fa-star
											.fas.fa-star
											.fas.fa-star
											.fas.fa-star
											.fas.fa-star
										strong.title
											a(href="#") Women's casual sneaker U.S. Polo Assn 116
									.footer
										div
											span.price.icon-manat 2210
										div
											ul.action-list
												li.active
													a(href="#").icon-heart-o
												li
													a(href="#").icon-basket-add
							li
								.product-box
									.media-holder
										img(src="images/img06.jpg", alt="Image description", width="174", height="174")
									.txt
										.rating.four
											.fas.fa-star
											.fas.fa-star
											.fas.fa-star
											.fas.fa-star
											.fas.fa-star
										strong.title
											a(href="#") Men's sweater Puma ESS Logo Crew Sweat FL
									.footer
										div
											span.price.icon-manat 49
										div
											ul.action-list
												li
													a(href="#").icon-heart-o
												li
													a(href="#").icon-basket-add
							li
								.product-box
									.media-holder
										img(src="images/img07.jpg", alt="Image description", width="176", height="155")
									.txt
										.rating.four
											.fas.fa-star
											.fas.fa-star
											.fas.fa-star
											.fas.fa-star
											.fas.fa-star
										strong.title
											a(href="#") Women's casual sneaker U.S. Polo Assn 116
									.footer
										div
											span.price.icon-manat 2210
										div
											ul.action-list
												li
													a(href="#").icon-heart-o
												li
													a(href="#").icon-basket-add
							li
								.product-box
									.media-holder
										img(src="images/img04.jpg", alt="Image description", width="194", height="128")
									.txt
										.rating.four
											.fas.fa-star
											.fas.fa-star
											.fas.fa-star
											.fas.fa-star
											.fas.fa-star
										strong.title
											a(href="#") Women's casual sneaker U.S. Polo Assn 116
									.footer
										div
											span.price.icon-manat 786
										div
											ul.action-list
												li
													a(href="#").icon-heart-o
												li.active
													a(href="#").icon-basket-add
							li
								.product-box
									.media-holder
										img(src="images/img05.jpg", alt="Image description", width="150", height="150")
									.txt
										.rating.four
											.fas.fa-star
											.fas.fa-star
											.fas.fa-star
											.fas.fa-star
											.fas.fa-star
										strong.title
											a(href="#") Women's casual sneaker U.S. Polo Assn 116
									.footer
										div
											span.price.icon-manat 2210
										div
											ul.action-list
												li.active
													a(href="#").icon-heart-o
												li
													a(href="#").icon-basket-add
							li
								.product-box
									.discount -13%
									.media-holder
										img(src="images/img06.jpg", alt="Image description", width="174", height="174")
									.txt
										.rating.four
											.fas.fa-star
											.fas.fa-star
											.fas.fa-star
											.fas.fa-star
											.fas.fa-star
										strong.title
											a(href="#") Men's sweater Puma ESS Logo Crew Sweat FL
									.footer
										div
											span.recalculated-price
												span.price.old.icon-manat 68
												span.new -19
											span.price.icon-manat 49
										div
											ul.action-list
												li
													a(href="#").icon-heart-o
												li
													a(href="#").icon-basket-add
							li
								.product-box
									.media-holder
										img(src="images/img07.jpg", alt="Image description", width="176", height="155")
									.txt
										.rating.four
											.fas.fa-star
											.fas.fa-star
											.fas.fa-star
											.fas.fa-star
											.fas.fa-star
										strong.title
											a(href="#") Women's casual sneaker U.S. Polo Assn 116
									.footer
										div
											span.price.icon-manat 2210
										div
											ul.action-list
												li
													a(href="#").icon-heart-o
												li
													a(href="#").icon-basket-add
							li
								.product-box
									.media-holder
										img(src="images/img06.jpg", alt="Image description", width="174", height="174")
									.txt
										.rating.four
											.fas.fa-star
											.fas.fa-star
											.fas.fa-star
											.fas.fa-star
											.fas.fa-star
										strong.title
											a(href="#") Men's sweater Puma ESS Logo Crew Sweat FL
									.footer
										div
											span.price.icon-manat 49
										div
											ul.action-list
												li
													a(href="#").icon-heart-o
												li
													a(href="#").icon-basket-add
							li
								.product-box
									.media-holder
										img(src="images/img07.jpg", alt="Image description", width="176", height="155")
									.txt
										.rating.four
											.fas.fa-star
											.fas.fa-star
											.fas.fa-star
											.fas.fa-star
											.fas.fa-star
										strong.title
											a(href="#") Women's casual sneaker U.S. Polo Assn 116
									.footer
										div
											span.price.icon-manat 2210
										div
											ul.action-list
												li
													a(href="#").icon-heart-o
												li
													a(href="#").icon-basket-add
							li
								.product-box
									.media-holder
										img(src="images/img04.jpg", alt="Image description", width="194", height="128")
									.txt
										.rating.four
											.fas.fa-star
											.fas.fa-star
											.fas.fa-star
											.fas.fa-star
											.fas.fa-star
										strong.title
											a(href="#") Women's casual sneaker U.S. Polo Assn 116
									.footer
										div
											span.price.icon-manat 786
										div
											ul.action-list
												li
													a(href="#").icon-heart-o
												li.active
													a(href="#").icon-basket-add
							li
								.product-box
									.media-holder
										img(src="images/img05.jpg", alt="Image description", width="150", height="150")
									.txt
										.rating.four
											.fas.fa-star
											.fas.fa-star
											.fas.fa-star
											.fas.fa-star
											.fas.fa-star
										strong.title
											a(href="#") Women's casual sneaker U.S. Polo Assn 116
									.footer
										div
											span.price.icon-manat 2210
										div
											ul.action-list
												li.active
													a(href="#").icon-heart-o
												li
													a(href="#").icon-basket-add
						.pagination
							a(href="#").prev.page-numbers
							a(href="#").page-numbers 1
							a(href="#").page-numbers 2
							span.page-numbers.current 3
							a(href="#").page-numbers 4
							span.page-numbers.dots ...
							a(href="#").page-numbers 18
							a(href="#").page-numbers 19
							a(href="#").page-numbers 20
							a(href="#").next.page-numbers
						h3 OnMark - saving your money and time!
						p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laboruma.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
					.aside
						.widget
							form(action="#").form-items-filter
								//- 
								.heading
									strong.title Selected filters
									a(href="#").remove-filters Delet all
								div
									ul.current-filters
										li
											a(href="#") Lorem ipsum
										li
											a(href="#") Lorem
										li
											a(href="#") Lorem
										li
											a(href="#") Lorem ipsum
								div
									.open-close.active
										a(href="#").opener Filter Sample
										.slide
											ul
												li
													label.label-checkbox
														input(type="checkbox")
														| Filter name
												li
													label.label-checkbox
														input(type="checkbox", checked)
														| Filter name
												li
													label.label-checkbox
														input(type="checkbox")
														| Filter name
												li
													label.label-checkbox
														input(type="checkbox")
														| Filter name
								div
									.open-close.active
										a(href="#").opener Price
										.slide
											.input-range-box
												.output
													input#start(type='text', readonly)
													span.divider
													input#end(type='text', readonly)
													span.icon-manat
												#slider-range
								div
									.open-close.active
										a(href="#").opener Filter Sample
										.slide
											.custom-scroll#filter
												.form-element
													input(type="text", placeholder="Type your text").search
													//- label Type your text
												ul.list
													li
														label.label-checkbox
															input(type="checkbox")
															| Filter name
													li
														label.label-checkbox
															input(type="checkbox", checked)
															| Filter name
													li
														label.label-checkbox
															input(type="checkbox")
															| Filter name
													li
														label.label-checkbox
															input(type="checkbox")
															| Filter name
													li
														label.label-checkbox
															input(type="checkbox")
															| aaaaa
													li
														label.label-checkbox
															input(type="checkbox")
															| bbbbbb
													li
														label.label-checkbox
															input(type="checkbox")
															| cccccc
													li
														label.label-checkbox
															input(type="checkbox")
															| dddddd
													li
														label.label-checkbox
															input(type="checkbox")
															| eeeeee
													li
														label.label-checkbox
															input(type="checkbox")
															| ffffff
													li
														label.label-checkbox
															input(type="checkbox")
															| gggggg
													li
														label.label-checkbox
															input(type="checkbox")
															| hhhhhh
													li
														label.label-checkbox
															input(type="checkbox")
															| iiiiii
													li
														label.label-checkbox
															input(type="checkbox")
															| jjjjjj
													li
														label.label-checkbox
															input(type="checkbox")
															| kkkkkk
													li
														label.label-checkbox
															input(type="checkbox")
															| llllll
													li
														label.label-checkbox
															input(type="checkbox")
															| mmmmmm
													li
														label.label-checkbox
															input(type="checkbox")
															| nnnnnn
													li
														label.label-checkbox
															input(type="checkbox")
															| oooooo
													li
														label.label-checkbox
															input(type="checkbox")
															| pppppp
													li
														label.label-checkbox
															input(type="checkbox")
															| qqqqqq
													li
														label.label-checkbox
															input(type="checkbox")
															| rrrrrr
													li
														label.label-checkbox
															input(type="checkbox")
															| ssssss
													li
														label.label-checkbox
															input(type="checkbox")
															| tttttt
								div
									.open-close.active
										a(href="#").opener Color
										.slide
											.custom-scroll(style="height:68px")
												ul.colors-list
													li
														label.label-checkbox(style="background:#db0202")
															input(type="checkbox", checked)
													li
														label.label-checkbox(style="background:#db0202")
															input(type="checkbox")
													li
														label.label-checkbox(style="background:#e58000")
															input(type="checkbox")
													li
														label.label-checkbox(style="background:#e9e34c")
															input(type="checkbox")
													li
														label.label-checkbox(style="background:#007d36")
															input(type="checkbox", checked)
													li
														label.label-checkbox(style="background:#90ab50")
															input(type="checkbox")
													li
														label.label-checkbox(style="background:#b4d6b8")
															input(type="checkbox")
													li
														label.label-checkbox(style="background:transparent")
															input(type="checkbox")
													li
														label.label-checkbox(style="background:#4a4a4a")
															input(type="checkbox")
													li
														label.label-checkbox(style="background:#b85fc0")
															input(type="checkbox")
													li
														label.label-checkbox(style="background:#0086f1")
															input(type="checkbox")
													li
														label.label-checkbox(style="background:#db0202")
															input(type="checkbox")
													li
														label.label-checkbox(style="background:#e58000")
															input(type="checkbox")
													li
														label.label-checkbox(style="background:#e9e34c")
															input(type="checkbox")
													li
														label.label-checkbox(style="background:#007d36")
															input(type="checkbox")
													li
														label.label-checkbox(style="background:#90ab50")
															input(type="checkbox")
													li
														label.label-checkbox(style="background:#b4d6b8")
															input(type="checkbox")
													li
														label.label-checkbox(style="background:transparent")
															input(type="checkbox")
													li
														label.label-checkbox(style="background:#4a4a4a")
															input(type="checkbox")
													li
														label.label-checkbox(style="background:#b85fc0")
															input(type="checkbox")
													li
														label.label-checkbox(style="background:#0086f1")
															input(type="checkbox")
													li
														label.label-checkbox(style="background:#db0202")
															input(type="checkbox")
													li
														label.label-checkbox(style="background:#e58000")
															input(type="checkbox")
													li
														label.label-checkbox(style="background:#e9e34c")
															input(type="checkbox")
													li
														label.label-checkbox(style="background:#007d36")
															input(type="checkbox")
													li
														label.label-checkbox(style="background:#90ab50")
															input(type="checkbox")
													li
														label.label-checkbox(style="background:#b4d6b8")
															input(type="checkbox")
													li
														label.label-checkbox(style="background:transparent")
															input(type="checkbox")
													li
														label.label-checkbox(style="background:#4a4a4a")
															input(type="checkbox")
													li
														label.label-checkbox(style="background:#b85fc0")
															input(type="checkbox")
													li
														label.label-checkbox(style="background:#0086f1")
															input(type="checkbox")
													li
														label.label-checkbox(style="background:#db0202")
															input(type="checkbox")
													li
														label.label-checkbox(style="background:#e58000")
															input(type="checkbox")
													li
														label.label-checkbox(style="background:#e9e34c")
															input(type="checkbox")
													li
														label.label-checkbox(style="background:#007d36")
															input(type="checkbox")
													li
														label.label-checkbox(style="background:#90ab50")
															input(type="checkbox")
													li
														label.label-checkbox(style="background:#b4d6b8")
															input(type="checkbox")
													li
														label.label-checkbox(style="background:transparent")
															input(type="checkbox")
													li
														label.label-checkbox(style="background:#4a4a4a")
															input(type="checkbox")
													li
														label.label-checkbox(style="background:#b85fc0")
															input(type="checkbox")
													li
														label.label-checkbox(style="background:#0086f1")
															input(type="checkbox")