footer#footer
	.footer-content
		.container
			div
				form(action="#")
					h3 Subscribe for the fresh deals!
					.form-content
						.form-element
							input(type="email", placeholder="Type your email")
							label Type your email
						.submit-holder
							input(type="submit", value="Send")
				h3 Follow us
				ul.social-networks
					li
						a(href="#").fab.fa-facebook-f
					li
						a(href="#").fab.fa-youtube
					li
						a(href="#").fab.fa-instagram
					li
						a(href="#").fab.fa-google-plus-g
					li
						a(href="#").fab.fa-pinterest
			div
				ul.footer-nav
					li
						a(href="#") Flash deals
					li
						a(href="#") Brands
					li
						a(href="#") OnMark TV
					li
						a(href="#") Blog
					li
						a(href="#") Help
					li
						a(href="#") Contact us
					li
						a(href="#") About project
				ul.footer-nav
					li
						a(href="#") Cell phone and accesories
					li
						a(href="#") Health and Beauty
					li
						a(href="#") Sports and Outdoors
					li
						a(href="#") Home and Garden
					li
						a(href="#") Toys, Hobbies, Baby and kids
					li
						a(href="#") Jewelery and watches
					li
						a(href="#") Weddings
					li
						a(href="#") Hair and styling
					li
						a(href="#") Computers and Games
				.contact
					h3 Contact us
					ul.contacts-list
						li.fas.fa-phone
							a(href="#") +994 000 00 00
						li.fas.fa-phone
							a(href="#") *1234
						li.fas.fa-envelope
							a(href="#") info@onmark.az
						li.fas.fa-map-marker-alt
							| Istiqlaliyyet str 11, AZ 1000
							br
							| Baku, Azerbaijan
	.footer-bottom
		.container
			div
				strong.logo
					a(href="#")
						img(src="images/logo.png", alt="OnMark", width="148", height="38")
			div
				p.copy OnMark &copy; 2018. All rights reserved.
			div
				p.by Site by 
					a(href="#") One Studio