header#header
	.header-banner
		a(href="#")
			img(src="images/banner01.png", alt="Image description", width="1400", height="600")
	.header-top
		.container
			div
				ul.header-top-nav
					li
						a(href="#") Brands
					li
						a(href="#") OnMark TV
					li
						a(href="#") Blog
					li
						a(href="#") Help
					li
						a(href="#") Contact us
					li
						a(href="#") About project
			//- 
			div
				.create-store-box
					a(href="#").opener Open your store
				a(href="tel:*1234").link-call Call 24/7 
					span.status
					| *1234
				ul.site-lang-list
					li
						a(href="#") Az
					li
						a(href="#") Ru
	.header-content
		.container
			div
				strong.logo
					a(href="#")
						img(src="images/logo.png", alt="OnMark", width="200", height="51")
			div
				.search-bar
					form(action="#")
						.form-element
							input(type="text", placeholder="I am searching for")#categories
							label I am searching for
						select
							option.default Category
							option Games
							option Cars
							option Toys
						.submit-holder.fa.fa-search
							input(type="submit", value="search")
				.login-box
					.opener.far.fa-user-circle
						a(href="#") Login
						a(href="#") Register
				.wishlist-box
					a(href="#").opener.icon-heart-b-o Wishlist
				.cart-box
					a(href="#").opener.icon-basket-light 535 AZN
						span.count 5
	.nav-holder
		.container
			div
				.categories-box
					a(href="#").opener.icon-menu All categories
				ul#nav
					li.icon-tv
						a(href="#")
							span TV, audio, 
								br
								| video
					li.icon-smartphone
						a(href="#")
							span Smartphones
					li.icon-clock
						a(href="#")
							span Gadgets
					li.icon-pan
						a(href="#")
							span Kitchen
					li.icon-washer
						a(href="#")
							span Home 
								br
								| appliciances
					li.icon-dryer
						a(href="#")
							span Beauty and 
								br
								| health
					li.icon-photo
						a(href="#")
							span Photo and 
								br
								| cameras
			div
				a(href="#").btn-action Flash deals