header#header
	.header-top
		div
			ul
				li
					a(href="#") Brands
				li
					a(href="#") OnMark TV
				li
					a(href="#") Blog
				li
					a(href="#") Help
				li
					a(href="#") Contact us
				li
					a(href="#") About project
		div
			a(href="#") Open your store
			a(href="#") Call 24/7 
				span.status
				| *1234
			ul
				li
					a(href="#") Az
				li
					a(href="#") Ru
	.header-content
		div
			strong.logo
				a(href="#")
					img(src="images/", alt="OnMark", width="", height="")
		div
			.search-bar
				form(action="")
					.form-element
						input(type="text", placeholder="I am searching for")
					select
						option.default Category
						option.default Games
						option.default Cars
						option.default Toys
					.submit-holder
						input(type="submit", value="search")
			a(href="#") Login | Register
			a(href="#") Wishlist
			a(href="#") 535 AZN
				span.count 5
	.nav-holder
		div
			div
				a(href="#") All categories
			ul#nav
				li
					a(href="#") TV, audio, video
				li
					a(href="#") Smartphones
				li
					a(href="#") Gadgets
				li
					a(href="#") Kitchen
				li
					a(href="#") Home appliciances
				li
					a(href="#") Beauty and health
				li
					a(href="#") Photo and cameras
		div
			a(href="#") Flash deals